{% extends "@FOSUser/layout.html.twig" %}
{% block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>senaPBX</title>

    <link href="{{ asset('src/css/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('src/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ asset('src/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('src/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('src/css/login.css') }}" rel="stylesheet">

{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
