{% extends "::base2.html.twig" %}
 {% block actionArea %}
     <a href="{{ path('settings_listUsers') }}" class="btn btn-primary"><i class="fa fa-list-ul"></i> Users list</a>
 {% endblock %}
{% block titleContaint %}
    <h2>Edit user</h2>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a>Users</a>
        </li>
        <li class="active">
            <strong>Edit user</strong>
        </li>
    </ol>
{% endblock %}

{% block UsersActive %}class="active"{% endblock %}
{% block Containt %}
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Profile</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-key"></i> Change password</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <form method="post" action="{{ path('settings_editUser', {'user': user.id}) }}">

                        {% if app.session.flashBag.has('success') %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-danger">
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <ul>
                                    <li> {{ flashMessage }}</li>
                                </ul>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label>Username <span class="req-asterisk">*</span></label>
                            <input name="username" class="form-control" placeholder="Username" value="{{ user.username }}">
                        </div>
                        <div class="form-group">
                            <label>First name</label>
                            <input class="form-control" placeholder="First name" name="firstname" value="{{ user.firstname }}">
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input class="form-control" placeholder="Last name" name="lastname" value="{{ user.lastname }}">
                        </div>
                        <div class="form-group">
                            <label>Email address <span class="req-asterisk">*</span></label>
                            <input name="email" class="form-control" placeholder="Email address" value="{{ user.email }}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-edit"></i> Save changes</button>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <form method="post" action="{{ path('settings_editUser', {'user': user.id}) }}">
                        {{ form_row(form._token) }}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger">
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('success') %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group" hidden>
                            <label for="exampleInputPassword1">Username <span class="req-asterisk">*</span></label>
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder': 'Username'}} ) }}
                        </div>
                        <div class="form-group" hidden>
                            <label for="exampleInputEmail1">Email address <span class="req-asterisk">*</span></label>
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Email address'}} ) }}
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span class="req-asterisk">*</span></label>
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','placeholder': 'Password','data-toggle':'password','id':'password'}} ) }}
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword">Repeat password <span class="req-asterisk">*</span></label>
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','placeholder': 'Repeat password','data-toggle':'password','id':'repeatPassword'} }) }}
                        </div>
                        <div class="form-group">
                            <button type="submit"  class="btn btn-primary pull-right"><i class="fa fa-edit"></i> Change password</button>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/bootstrap-show-password.min.js') }}"></script>
    <script type="text/javascript">
        $("#password").password('toggle');
        $("#repeatPassword").password('toggle');
    </script>
    <script>
    $(document).ready(function () {
        {% if not form.vars.valid %}
        $('.nav-tabs a[href="#tab-2"]').tab('show');
        {% endif %}
    });
    </script>
{% endblock %}
